@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
/* 
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Poppins', sans-serif; 
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(111,120,118,1) 100%);
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

#menu{
    display: none;   
}

.menu-icono{
    width: 25px;

}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th,td{
    color: #FFFFFF;
}

.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: left;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
    margin-left: 50px;
}

.header-txt h1{
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
    margin-left: 50px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 50px;
}


.footer{
    padding: 50px 0;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(111,120,118,1) 100%);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.link h3{
    font-size: 18px;
    color: #111111;
    font-family: 'Oswald', sams-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.link a {
    font-size: 16px;
    color:#111111;
    display: block;
    margin-bottom: 10px;
}


.ubicaciones h2{
    font-size: 30px;
    color: #111111;
    font-family: 'Oswald',sams-serif;
    text-transform: uppercase;
    margin-left: 50px;
    text-align: center;
}

.ubicaciones p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

h2{
    font-size: 45px;
    color: #111111;
    font-family: 'Oswald',sams-serif;
    text-transform: uppercase;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 15px;
}

#mapa{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

